.postContainer
{
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    width: 300px;
}

.postBody
{
    padding-top: 10px;
    max-height: 400px;
    width: 250px;
    word-wrap: break-word;
    overflow-y:scroll;
}

